/*### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)*/

:root{
    --paleblue: #e0e8ff;
    --brightblue:#3829e0;
    --verypaleblue: #f5f7ff;
    --desaturatedblue:#7280a7;
    --darkblue:#1f2f56;

}